@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

#header {
    align-items: center;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;    
    padding: 8px 80px;
}

#logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

#menu ul {
    align-items: center;
    color: #E5E7EB;
    display: flex;
    font-size: 18px;
    gap: 16px;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu ul a {
    color: #E5E7EB;
    text-decoration: none;
}

#hero {
    align-items: center;
    background-color: #1f2937;
    display: flex;
    gap: 80px;
    justify-content: center;
    padding: 80px;
}

#hero-left {
    display: flex;
    flex-basis: 450px;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

#hero-title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

#hero-subtitle {
    color: #E5E7EB;
    font-size: 18px;
}

#hero-button {
    border: none;
    border-radius: 8px;
    background-color: #3882F6;
    font-weight: bold;
    color: #E5E7EB;
    padding: 5px 20px;
    width: 100px;
}

#info {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

#info-content {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
    justify-content: center;
    margin-top: 20px;
}

#info-title {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
}

.info-element-img {
    border: 4px solid #3882F6;
    border-radius: 15px;
    width: 100px;
    height: 100px;
}

.info-element-text {
    font-size: 14px;
    width: 100px;
}

#quote {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    padding: 80px 320px;
}

#quote-author {
    text-align: right;
    font-weight: bold;
}

#call-to-action-card {
    align-items: center;
    background-color: #3882F6;
    color: #E5E7EB;
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
    padding: 40px 160px;
}

#call-to-action-card-title {
    font-size: 18px;
    font-weight: bolder;
}

#call-to-action-card-button {
    background-color: #3882F6;
    border: 1px solid #E5E7EB;
    border-radius: 8px;
    color: #E5E7EB;
    font-weight: bold;
    padding: 5px 20px;
}

#footer {
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
    padding: 8px;
    text-align: center;
}

#footer a {
    color: #E5E7EB;
    text-decoration: none;
}